Flows_NodeRed.json
[{"id":"bbb294ed.072628","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"6870a66e.c71bf8","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"b61e966.e7ea368","type":"mongodb2","z":"","uri":"mongodb://localhost:27017/test","name":"test","options":"","parallelism":"-1"},{"id":"5152a105.ed3a6","type":"http in","z":"bbb294ed.072628","name":"Get user","url":"/user/:username","method":"get","upload":false,"swaggerDoc":"","x":440,"y":580,"wires":[["19dbdb21.ca48c5"]]},{"id":"19dbdb21.ca48c5","type":"function","z":"bbb294ed.072628","name":"ExtractURLParam","func":"msg.payload = msg.req.params\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":580,"wires":[["40afb198.0efbe","c4ee06e0.236d08"]]},{"id":"648efda2.4c2ba4","type":"comment","z":"bbb294ed.072628","name":"user/:username","info":"","x":400,"y":540,"wires":[]},{"id":"5d42ad20.9636a4","type":"http response","z":"bbb294ed.072628","name":"","statusCode":"","headers":{},"x":1210,"y":580,"wires":[]},{"id":"9e4e7233.eb504","type":"function","z":"bbb294ed.072628","name":"Response","func":"msg.headers = {\n};\nif (msg.payload === undefined)\nmsg.statusCode = 404;\nelse \nmsg.statusCode =200;\nreturn msg;","outputs":1,"noerr":0,"x":1040,"y":580,"wires":[["5d42ad20.9636a4","cfc3ac60.0ade5"]]},{"id":"40afb198.0efbe","type":"debug","z":"bbb294ed.072628","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":870,"y":660,"wires":[]},{"id":"cfc3ac60.0ade5","type":"debug","z":"bbb294ed.072628","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1230,"y":660,"wires":[]},{"id":"c4ee06e0.236d08","type":"function","z":"bbb294ed.072628","name":"Service","func":"\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":580,"wires":[["9e4e7233.eb504"]]},{"id":"526ae91b.2a16b8","type":"http in","z":"bbb294ed.072628","name":"Search flight","url":"/flight/search/:date/:startLocation/:endLocation","method":"get","upload":false,"swaggerDoc":"","x":450,"y":280,"wires":[["75d4c2a1.026fbc"]]},{"id":"75d4c2a1.026fbc","type":"function","z":"bbb294ed.072628","name":"ExtractQueryParams","func":"msg.payload = msg.req.query;\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":280,"wires":[["74ac9ca6.b09d14","5cf4f2c6.32409c"]]},{"id":"74ac9ca6.b09d14","type":"function","z":"bbb294ed.072628","name":"ExtractURLParams","func":"msg.payload.$push = msg.req.params\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":280,"wires":[["d4f9ba5c.121868","2a666e61.f9e1a2"]]},{"id":"81962d43.e55a9","type":"comment","z":"bbb294ed.072628","name":"/flight/search/{date}/{startLocation}/{endLocation}","info":"","x":500,"y":240,"wires":[]},{"id":"d4f9ba5c.121868","type":"function","z":"bbb294ed.072628","name":"Check if flight exist","func":"msg.payload= \"true\";\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":280,"wires":[["d447f0c.fae581"]]},{"id":"200d9004.d5741","type":"function","z":"bbb294ed.072628","name":"Response","func":"msg.headers = {\n};\nmsg.statusCode = 200;\nreturn msg;","outputs":1,"noerr":0,"x":1760,"y":220,"wires":[["fa3c5af5.428fd8","768eb6da.259f88"]]},{"id":"fa3c5af5.428fd8","type":"http response","z":"bbb294ed.072628","name":"http (200)","statusCode":"","headers":{},"x":1940,"y":220,"wires":[]},{"id":"2a666e61.f9e1a2","type":"debug","z":"bbb294ed.072628","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1150,"y":360,"wires":[]},{"id":"5cf4f2c6.32409c","type":"debug","z":"bbb294ed.072628","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":910,"y":360,"wires":[]},{"id":"768eb6da.259f88","type":"debug","z":"bbb294ed.072628","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1930,"y":140,"wires":[]},{"id":"d2380ccc.f05a2","type":"http in","z":"bbb294ed.072628","name":"Get filter","url":"/search/filter","method":"get","upload":false,"swaggerDoc":"","x":440,"y":880,"wires":[["de2ae2c6.e4936"]]},{"id":"e6379775.30f7d8","type":"comment","z":"bbb294ed.072628","name":"/search/filter","info":"","x":390,"y":840,"wires":[]},{"id":"de2ae2c6.e4936","type":"function","z":"bbb294ed.072628","name":"ExctractQueryParam","func":"msg.payload = msg.req.query;\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":880,"wires":[["7e6ad283.7b553c","93f30315.9d7e"]]},{"id":"7e6ad283.7b553c","type":"function","z":"bbb294ed.072628","name":"Service","func":"\nreturn msg;","outputs":1,"noerr":0,"x":880,"y":880,"wires":[["54f3391f.adb378"]]},{"id":"54f3391f.adb378","type":"function","z":"bbb294ed.072628","name":"Response","func":"msg.headers = {\n};\nmsg.statusCode = 200;\nreturn msg;","outputs":1,"noerr":0,"x":1060,"y":880,"wires":[["8b4edabe.d156b8","f5b1495e.c92478"]]},{"id":"8b4edabe.d156b8","type":"http response","z":"bbb294ed.072628","name":"","statusCode":"","headers":{},"x":1230,"y":880,"wires":[]},{"id":"f5b1495e.c92478","type":"debug","z":"bbb294ed.072628","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1230,"y":960,"wires":[]},{"id":"93f30315.9d7e","type":"debug","z":"bbb294ed.072628","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":870,"y":960,"wires":[]},{"id":"31449754.3448e8","type":"http in","z":"bbb294ed.072628","name":"Get sort","url":"/search/sort","method":"get","upload":false,"swaggerDoc":"","x":430,"y":1160,"wires":[["d3175d11.ff476"]]},{"id":"d3175d11.ff476","type":"function","z":"bbb294ed.072628","name":"ExctractQueryParam","func":"msg.payload = msg.req.query;\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":1160,"wires":[["861199dc.7fab18","75ac69b8.767498"]]},{"id":"861199dc.7fab18","type":"function","z":"bbb294ed.072628","name":"Service","func":"\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":1160,"wires":[["27e7e036.bcac"]]},{"id":"27e7e036.bcac","type":"function","z":"bbb294ed.072628","name":"Response","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1040,"y":1160,"wires":[["9aa74477.083388","46efd3c4.594f9c"]]},{"id":"9aa74477.083388","type":"http response","z":"bbb294ed.072628","name":"","statusCode":"","headers":{},"x":1210,"y":1160,"wires":[]},{"id":"46efd3c4.594f9c","type":"debug","z":"bbb294ed.072628","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1230,"y":1240,"wires":[]},{"id":"b26d6484.b495f8","type":"http in","z":"bbb294ed.072628","name":"Get search","url":"/search","method":"get","upload":false,"swaggerDoc":"","x":440,"y":1440,"wires":[["6662042e.2584dc"]]},{"id":"b0bf7da2.d56f4","type":"comment","z":"bbb294ed.072628","name":"/search","info":"","x":370,"y":1400,"wires":[]},{"id":"2706ee89.2a3142","type":"http response","z":"bbb294ed.072628","name":"","statusCode":"","headers":{},"x":1010,"y":1440,"wires":[]},{"id":"416331ae.746f7","type":"function","z":"bbb294ed.072628","name":"Response","func":"msg.headers = {\n};\nmsg.statusCode = 200;\nreturn msg;","outputs":1,"noerr":0,"x":840,"y":1440,"wires":[["2706ee89.2a3142","31c4feb0.106052"]]},{"id":"31c4feb0.106052","type":"debug","z":"bbb294ed.072628","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1010,"y":1520,"wires":[]},{"id":"6662042e.2584dc","type":"function","z":"bbb294ed.072628","name":"Search Result","func":"var search= [\n    { resultID: 234, Flight: 'ATH3242', price: 456 ,duration: 7, stops:1, airline:\"Turkish Airline\" },\n    { resultID: 478, Flight: 'ATH4572', price: 679 ,duration: 15,stops:2, airline:\"Lufthansa\"},\n    { resultID: 489, Flight: 'ATH6972', price: 899 ,duration: 6,stops:0, airline:\"Aegean\"},\n    { resultID: 839, Flight: 'ATH6523', price: 1456,duration: 19,stops:3, airline:\"Turkish Airline\"},\n    { resultID: 122, Flight: 'ATH4527', price: 567 ,duration: 5,stops:0, airline:\"Emirates\"}\n    ];\n\n    for(i=0;i<4;i++)\n    {\n        msg.payload[i] = search[i];\n    }\n\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":1440,"wires":[["416331ae.746f7"]]},{"id":"958c9af0.6336d8","type":"comment","z":"bbb294ed.072628","name":"/search/sort","info":"","x":390,"y":1120,"wires":[]},{"id":"75ac69b8.767498","type":"debug","z":"bbb294ed.072628","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":870,"y":1240,"wires":[]},{"id":"72922d08.4779c4","type":"http in","z":"bbb294ed.072628","name":"Get result","url":"/search/result/:resultID","method":"get","upload":false,"swaggerDoc":"","x":440,"y":1760,"wires":[["fd773ff0.c4591"]]},{"id":"7527b5cf.3280ec","type":"comment","z":"bbb294ed.072628","name":"/search/result/{resultID}","info":"","x":420,"y":1720,"wires":[]},{"id":"fd773ff0.c4591","type":"function","z":"bbb294ed.072628","name":"ExtractURLParam","func":"msg.payload = msg.req.params\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":1760,"wires":[["e7d2c446.d02188","eb58d19f.778dd"]]},{"id":"e7d2c446.d02188","type":"function","z":"bbb294ed.072628","name":"Check if flight is available","func":"\nk = {result: \"\", availability: \"\"};\nk.result=msg.payload;\nk.availability = \"true\"\n\nmsg.payload = k;\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":1760,"wires":[["b17a89af.563978"]]},{"id":"361f72f8.4a517e","type":"function","z":"bbb294ed.072628","name":"Response","func":"msg.headers = {\n};\nmsg.statusCode = 200;\nreturn msg;","outputs":1,"noerr":0,"x":1500,"y":1700,"wires":[["65b76f3c.1d063","7a34f918.59a028"]]},{"id":"65b76f3c.1d063","type":"http response","z":"bbb294ed.072628","name":"http (200)","statusCode":"","headers":{},"x":1680,"y":1700,"wires":[]},{"id":"eb58d19f.778dd","type":"debug","z":"bbb294ed.072628","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":870,"y":1840,"wires":[]},{"id":"7a34f918.59a028","type":"debug","z":"bbb294ed.072628","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1690,"y":1620,"wires":[]},{"id":"e4cfb219.bb16b","type":"http in","z":"bbb294ed.072628","name":"Get travel search","url":"/travel/search/:date","method":"get","upload":false,"swaggerDoc":"","x":460,"y":2120,"wires":[["ea15c8e3.1eec48"]]},{"id":"e17c0d4.b98f0f","type":"comment","z":"bbb294ed.072628","name":"/travel/search/{date}","info":"","x":410,"y":2080,"wires":[]},{"id":"a149f697.829868","type":"http response","z":"bbb294ed.072628","name":"http (200)","statusCode":"","headers":{},"x":1980,"y":2060,"wires":[]},{"id":"78a64db0.77b284","type":"function","z":"bbb294ed.072628","name":"Response","func":"msg.headers = {\n};\nmsg.statusCode = 200;\nreturn msg;","outputs":1,"noerr":0,"x":1800,"y":2060,"wires":[["a149f697.829868","66e5b77e.addb98"]]},{"id":"66e5b77e.addb98","type":"debug","z":"bbb294ed.072628","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1990,"y":1980,"wires":[]},{"id":"c828f5ad.0dd788","type":"function","z":"bbb294ed.072628","name":"Check if flight exists","func":"msg.payload= \"true\";\nreturn msg;","outputs":1,"noerr":0,"x":1200,"y":2120,"wires":[["96ad9729.7e8b78"]]},{"id":"cb2a3b3f.7def08","type":"http in","z":"bbb294ed.072628","name":"Post evaluation","url":"/user/:username/supplier/:supplierID/evaluate","method":"post","upload":false,"swaggerDoc":"","x":440,"y":2400,"wires":[["a4b5f626.69b568"]]},{"id":"b060c407.e62fc8","type":"comment","z":"bbb294ed.072628","name":"/user/{username}/supplier/{supplierID}/evaluate","info":"","x":480,"y":2360,"wires":[]},{"id":"e64a0929.59b508","type":"function","z":"bbb294ed.072628","name":"Service","func":"\n\n\nreturn msg;","outputs":1,"noerr":0,"x":880,"y":2400,"wires":[["4879f422.937d0c"]]},{"id":"a4b5f626.69b568","type":"function","z":"bbb294ed.072628","name":"ExtractURLParams","func":"\n\n\nk = {evaluation: \"\", urlParams: \"\"};\nk.evaluation=msg.payload;\nk.urlParams = msg.req.params\n\nmsg.payload = k;\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":2400,"wires":[["e64a0929.59b508","1a6a3725.0065d9"]]},{"id":"4879f422.937d0c","type":"function","z":"bbb294ed.072628","name":"Response","func":"msg.headers = {\n};\nmsg.statusCode = 200;\nreturn msg;","outputs":1,"noerr":0,"x":1060,"y":2400,"wires":[["a0c9f16c.605c4","a0e5432c.581ae"]]},{"id":"a0c9f16c.605c4","type":"http response","z":"bbb294ed.072628","name":"","statusCode":"","headers":{},"x":1230,"y":2400,"wires":[]},{"id":"a0e5432c.581ae","type":"debug","z":"bbb294ed.072628","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1230,"y":2480,"wires":[]},{"id":"1a6a3725.0065d9","type":"debug","z":"bbb294ed.072628","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":870,"y":2480,"wires":[]},{"id":"495a775e.991c78","type":"http in","z":"bbb294ed.072628","name":"Get connection","url":"/search/result/:resultID/supplier/:supplierID/connect","method":"get","upload":false,"swaggerDoc":"","x":420,"y":2760,"wires":[["3388fd18.b0cad2"]]},{"id":"f120ffa0.21c3a","type":"comment","z":"bbb294ed.072628","name":"/search/result/{resultID}/supplier/{supplierID}/connect","info":"","x":470,"y":2720,"wires":[]},{"id":"3388fd18.b0cad2","type":"function","z":"bbb294ed.072628","name":"ExtractURLParam","func":"msg.payload = msg.req.params\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":2760,"wires":[["dde61c3e.bf198","d08f26da.2b0868"]]},{"id":"dde61c3e.bf198","type":"function","z":"bbb294ed.072628","name":"Check Connection","func":"k = {result: \"\", availability: \"\"};\nk.result=msg.payload;\nk.availability = \"true\"\n\nmsg.payload = k;\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":2760,"wires":[["56a2c324.c3dabc"]]},{"id":"d2209c7.8c1dc6","type":"function","z":"bbb294ed.072628","name":"Response","func":"msg.headers = {\n};\nmsg.statusCode = 200;\nreturn msg;","outputs":1,"noerr":0,"x":1520,"y":2700,"wires":[["b150bac3.783df8","1bc34c1.c573cb4"]]},{"id":"b150bac3.783df8","type":"http response","z":"bbb294ed.072628","name":"http (200)","statusCode":"","headers":{},"x":1700,"y":2700,"wires":[]},{"id":"d08f26da.2b0868","type":"debug","z":"bbb294ed.072628","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":800,"y":2880,"wires":[]},{"id":"1bc34c1.c573cb4","type":"debug","z":"bbb294ed.072628","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1710,"y":2620,"wires":[]},{"id":"e917db82.39ec98","type":"http in","z":"bbb294ed.072628","name":"Get evaluation","url":"/search/result/:resultID/supplier/:supplierID","method":"get","upload":false,"swaggerDoc":"","x":410,"y":3160,"wires":[["79c2048c.8b542c"]]},{"id":"d6d74bc0.9b3418","type":"comment","z":"bbb294ed.072628","name":"/search/result/{resultID}/supplier/{supplierID}","info":"","x":450,"y":3120,"wires":[]},{"id":"79c2048c.8b542c","type":"function","z":"bbb294ed.072628","name":"ExtractURLParam","func":"msg.payload = msg.req.params\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":3160,"wires":[["ce74a0c2.f4fb9","8eb4f4d8.c9f3d8"]]},{"id":"ce74a0c2.f4fb9","type":"function","z":"bbb294ed.072628","name":"Check evalution existence","func":"k = {result: \"\", availability: \"\"};\nk.result=msg.payload;\nk.availability = \"true\"\n\nmsg.payload = k;\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":3160,"wires":[["ad645df9.fb0d"]]},{"id":"8eb4f4d8.c9f3d8","type":"debug","z":"bbb294ed.072628","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":850,"y":3240,"wires":[]},{"id":"3d54328a.0b171e","type":"inject","z":"6870a66e.c71bf8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":100,"wires":[["f3fed54d.c0d788"]]},{"id":"f3fed54d.c0d788","type":"http request","z":"6870a66e.c71bf8","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"http://127.0.0.1:1880/search/sort?quickestFirst=false&cheapestFirst=false&bestFirst=true","tls":"","persist":false,"proxy":"","authType":"","x":430,"y":100,"wires":[["73d6e617.6ede68"]]},{"id":"c9cc1d31.b0124","type":"debug","z":"6870a66e.c71bf8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":930,"y":100,"wires":[]},{"id":"73d6e617.6ede68","type":"function","z":"6870a66e.c71bf8","name":"Assortment Selection and Sort","func":"var search= [\n    { resultID: 234, Flight: 'ATH3242', price: 456 ,duration: 7, stops:1, airline:\"Turkish Airline\" },\n    { resultID: 478, Flight: 'ATH4572', price: 679 ,duration: 15,stops:2, airline:\"Lufthansa\"},\n    { resultID: 489, Flight: 'ATH6972', price: 899 ,duration: 6,stops:0, airline:\"Aegean\"},\n    { resultID: 839, Flight: 'ATH6523', price: 1456,duration: 19,stops:3, airline:\"Turkish Airline\"},\n    { resultID: 122, Flight: 'ATH4527', price: 567 ,duration: 5,stops:0, airline:\"Emirates\"}\n    ];\n\n\n\nm=msg.payload.cheapestFirst;\nl=msg.payload.quickestFirst;\nk=msg.payload.bestFirst;\nif(m===\"true\"){\n    search.sort(function(a,b){\n        return a.price - b.price;\n    })\n    for(i=0;i<5;i++)\n        {\n            msg.payload[i] = search[i];\n        }\n}\nif(l===\"true\"){\n    search.sort(function(a,b){\n        return a.duration - b.duration;\n    })\n    for(i=0;i<5;i++)\n        {\n            msg.payload[i] = search[i];\n        }\n}\nif(k===\"true\"){\n    search.sort(function(a,b){\n        return (100*a.duration+a.price) - (100*b.duration + b.price);\n    })\n    for(i=0;i<5;i++)\n        {\n            msg.payload[i] = search[i];\n        }\n}\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":100,"wires":[["c9cc1d31.b0124"]]},{"id":"5bcc6baa.8c1b24","type":"comment","z":"6870a66e.c71bf8","name":"User must be able to choose assortment","info":"","x":260,"y":60,"wires":[]},{"id":"53f5e8a1.efc6a8","type":"inject","z":"6870a66e.c71bf8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":240,"wires":[["d9afa360.1969"]]},{"id":"d9afa360.1969","type":"http request","z":"6870a66e.c71bf8","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"http://127.0.0.1:1880/search/filter?duration=false&price=false&airline=true&stops=false","tls":"","persist":false,"proxy":"","authType":"","x":430,"y":240,"wires":[["86acd224.76bab"]]},{"id":"e53f1b67.221298","type":"debug","z":"6870a66e.c71bf8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":890,"y":240,"wires":[]},{"id":"86acd224.76bab","type":"function","z":"6870a66e.c71bf8","name":"Filter Selection and Filter ","func":"var search= [\n    { resultID: 234, Flight: 'ATH3242', price: 456 ,duration: 7, stops:1, airline:\"Turkish Airline\"},\n    { resultID: 478, Flight: 'ATH4572', price: 679 ,duration: 15,stops:2, airline:\"Lufthansa\"},\n    { resultID: 489, Flight: 'ATH6972', price: 899 ,duration: 6,stops:0, airline:\"Ryanair\"},\n    { resultID: 839, Flight: 'ATH6523', price: 1456,duration: 19,stops:3, airline:\"Turkish Airline\"},\n    { resultID: 122, Flight: 'ATH4527', price: 567 ,duration: 5,stops:0, airline:\"Emirates\"}\n    ];\n\nvar filteredSearch=[{ resultID: 0, Flight: '', price: 0 ,duration: 0, stops:0, airline:\"\" }];\n\nn=msg.payload.duration;\nm=msg.payload.airline;\nl=msg.payload.price;\nk=msg.payload.stops;\n\n\nif(n === \"true\")\n{\n    for(i=0;i<5;i++)\n    {\n        if(search[i].duration<10)\n        {\n            flag=0;\n            for(j=0;j<filteredSearch.length;j++)\n            {\n                if(search[i].resultID === filteredSearch[j].resultID)\n                    flag=1;\n            }\n            if(flag===0)\n                filteredSearch.push(search[i]);\n            \n        }   \n    }\n    \n} \nif(m === \"true\")\n{\n    for(i=0;i<5;i++)\n    {\n        if(search[i].airline !== \"Ryanair\")\n        {\n            flag=0;\n            for(j=0;j<filteredSearch.length;j++)\n            {\n                if(search[i].resultID === filteredSearch[j].resultID)\n                    flag=1;\n            }\n            if(flag===0)\n                filteredSearch.push(search[i]);\n            \n        }   \n    }\n    \n} \nif(l === \"true\")\n{\n    for(i=0;i<5;i++)\n    {\n        if(search[i].price<1000)\n        {\n            flag=0;\n            for(j=0;j<filteredSearch.length;j++)\n            {\n                if(search[i].resultID === filteredSearch[j].resultID)\n                    flag=1;\n            }\n            if(flag===0)\n                filteredSearch.push(search[i]);\n            \n        }   \n    }\n    \n} \nif(k === \"true\")\n{\n    for(i=0;i<5;i++)\n    {\n        if(search[i].stops<2)\n        {\n            flag=0;\n            for(j=0;j<filteredSearch.length;j++)\n            {\n                if(search[i].resultID === filteredSearch[j].resultID)\n                    flag=1;\n            }\n            if(flag===0)\n                filteredSearch.push(search[i]);\n            \n        }   \n    }\n    \n} \n    for(i=1;i<filteredSearch.length;i++)\n        {\n            msg.payload[i] = filteredSearch[i];\n        }\n\n\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":240,"wires":[["e53f1b67.221298"]]},{"id":"9d5f4fbf.a53b1","type":"comment","z":"6870a66e.c71bf8","name":"User must be able to choose a filter","info":"","x":240,"y":200,"wires":[]},{"id":"6cc7559.49ba3ac","type":"inject","z":"6870a66e.c71bf8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":400,"wires":[["bfc844d6.1589e8"]]},{"id":"bfc844d6.1589e8","type":"http request","z":"6870a66e.c71bf8","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"http://127.0.0.1:1880/flight/search/10-06-2020/SKG/JFK?numberOfTravellers=4&cabinClass=business","tls":"","persist":false,"proxy":"","authType":"","x":430,"y":400,"wires":[["3fa823f3.38f2cc"]]},{"id":"3fa823f3.38f2cc","type":"debug","z":"6870a66e.c71bf8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":610,"y":400,"wires":[]},{"id":"63b4b2d.f470b4c","type":"comment","z":"6870a66e.c71bf8","name":"User must be able to search a flight","info":"","x":240,"y":360,"wires":[]},{"id":"2584f795.d08558","type":"inject","z":"6870a66e.c71bf8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":520,"wires":[["cdf36d88.c2aa6"]]},{"id":"cdf36d88.c2aa6","type":"http request","z":"6870a66e.c71bf8","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"http://127.0.0.1:1880/search/result/122","tls":"","persist":false,"proxy":"","authType":"","x":430,"y":520,"wires":[["8922ac12.9c3e4"]]},{"id":"8922ac12.9c3e4","type":"debug","z":"6870a66e.c71bf8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":610,"y":520,"wires":[]},{"id":"1b8aee6f.d9f572","type":"comment","z":"6870a66e.c71bf8","name":"User must be able to choose a flight","info":"","x":240,"y":480,"wires":[]},{"id":"b508627c.e79bb","type":"inject","z":"6870a66e.c71bf8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":640,"wires":[["e57f54bf.289fa8"]]},{"id":"f8b0706e.3f71b","type":"http request","z":"6870a66e.c71bf8","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"http://127.0.0.1:1880/user/kwstas/supplier/1456/evaluate","tls":"","persist":false,"proxy":"","authType":"","x":670,"y":640,"wires":[["6e0211b.abacaf"]]},{"id":"e57f54bf.289fa8","type":"function","z":"6870a66e.c71bf8","name":"Post Evaluation","func":"msg.payload = 3;\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":640,"wires":[["f8b0706e.3f71b"]]},{"id":"54b58030.f139e","type":"debug","z":"6870a66e.c71bf8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1090,"y":640,"wires":[]},{"id":"6e0211b.abacaf","type":"function","z":"6870a66e.c71bf8","name":"Update Evaluation","func":"var supplier = {\n    name: \"Corona\", supplierID: \"1456\", evaluation: 4.5 , numberOfEvaluation: 74 , supplierURL:\"corona.com\"\n}\nevaluation = parseFloat(msg.payload.evaluation);\nnewevaluation = (parseFloat(supplier.evaluation)*supplier.numberOfEvaluation + evaluation) /(supplier.numberOfEvaluation+1)\n\nsupplier.evaluation =newevaluation\nsupplier.numberOfEvaluation++;\n\n \n msg.payload = supplier;\n    \nreturn msg;","outputs":1,"noerr":0,"x":890,"y":640,"wires":[["54b58030.f139e"]]},{"id":"338ad6d2.2b38fa","type":"comment","z":"6870a66e.c71bf8","name":"User must be able to evaluate a supplier","info":"","x":250,"y":600,"wires":[]},{"id":"c251fdb8.ca855","type":"inject","z":"6870a66e.c71bf8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":760,"wires":[["a1530a17.29efa8"]]},{"id":"a1530a17.29efa8","type":"http request","z":"6870a66e.c71bf8","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"http://127.0.0.1:1880/search/result/765/supplier/1456","tls":"","persist":false,"proxy":"","authType":"","x":430,"y":760,"wires":[["9e9ef756.1c3fc8"]]},{"id":"25af09dd.7d8036","type":"comment","z":"6870a66e.c71bf8","name":"User must be able to see the evaluation of a supplier","info":"","x":290,"y":720,"wires":[]},{"id":"55f17134.dff5b","type":"inject","z":"6870a66e.c71bf8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":900,"wires":[["85a1fd65.c62fe"]]},{"id":"4b6149b3.797938","type":"function","z":"bbb294ed.072628","name":"ExtractURLParam","func":"msg.payload.$push = msg.req.params\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":2120,"wires":[["c828f5ad.0dd788"]]},{"id":"85a1fd65.c62fe","type":"http request","z":"6870a66e.c71bf8","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"http://127.0.0.1:1880/travel/search/15-7-2020?minBudget=40&maxBudget=599","tls":"","persist":false,"proxy":"","authType":"","x":430,"y":900,"wires":[["7f09367d.bf3d38"]]},{"id":"7f09367d.bf3d38","type":"debug","z":"6870a66e.c71bf8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":610,"y":900,"wires":[]},{"id":"ea15c8e3.1eec48","type":"function","z":"bbb294ed.072628","name":"ExctractQueryParam","func":"msg.payload = msg.req.query;\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":2120,"wires":[["4b6149b3.797938"]]},{"id":"81e8bb15.bb1818","type":"comment","z":"6870a66e.c71bf8","name":"User must be able to search a travel within a budget","info":"","x":290,"y":860,"wires":[]},{"id":"ee1f61e4.9f0a2","type":"inject","z":"6870a66e.c71bf8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":1020,"wires":[["993b1650.25ebd8"]]},{"id":"993b1650.25ebd8","type":"http request","z":"6870a66e.c71bf8","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://127.0.0.1:1880/search/result/678/supplier/1456/connect","tls":"","persist":false,"proxy":"","authType":"","x":430,"y":1020,"wires":[["a530f8d5.989148"]]},{"id":"a530f8d5.989148","type":"debug","z":"6870a66e.c71bf8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":610,"y":1020,"wires":[]},{"id":"1443bbdb.8356e4","type":"comment","z":"6870a66e.c71bf8","name":"User must be able to connect with supplier","info":"","x":260,"y":980,"wires":[]},{"id":"d447f0c.fae581","type":"switch","z":"bbb294ed.072628","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"str"},{"t":"eq","v":"false","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1370,"y":280,"wires":[["a024ca71.5165b8"],["eff1455e.589868"]]},{"id":"88480f14.6c2ad","type":"function","z":"bbb294ed.072628","name":"Response","func":"msg.headers = {\n};\n\nmsg.statusCode =404;\nreturn msg;","outputs":1,"noerr":0,"x":1760,"y":340,"wires":[["590c0477.d73d8c","198dc29a.5bbd2d"]]},{"id":"590c0477.d73d8c","type":"http response","z":"bbb294ed.072628","name":"http (404)","statusCode":"","headers":{},"x":1940,"y":340,"wires":[]},{"id":"198dc29a.5bbd2d","type":"debug","z":"bbb294ed.072628","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1930,"y":420,"wires":[]},{"id":"a024ca71.5165b8","type":"function","z":"bbb294ed.072628","name":"Flight Results","func":"msg.payload=[];\nvar search= [\n    { resultID: 234, Flight: 'ATH3242', price: 456 ,duration: 7, stops:1, airline:\"Turkish Airline\"},\n    { resultID: 478, Flight: 'ATH4572', price: 679 ,duration: 15,stops:2, airline:\"Lufthansa\"},\n    { resultID: 489, Flight: 'ATH6972', price: 899 ,duration: 6,stops:0, airline:\"Ryanair\"},\n    { resultID: 839, Flight: 'ATH6523', price: 1456,duration: 19,stops:3, airline:\"Turkish Airline\"},\n    { resultID: 122, Flight: 'ATH4527', price: 567 ,duration: 5,stops:0, airline:\"Emirates\"}\n    ];\n    \n    for(i=0;i<5;i++)\n        {\n            msg.payload[i] = search[i];\n        }\nreturn msg;","outputs":1,"noerr":0,"x":1560,"y":220,"wires":[["200d9004.d5741"]]},{"id":"eff1455e.589868","type":"function","z":"bbb294ed.072628","name":"Error message","func":"msg.payload= \"We are sorry! Flight does not exist!\"\nreturn msg;","outputs":1,"noerr":0,"x":1560,"y":340,"wires":[["88480f14.6c2ad"]]},{"id":"b17a89af.563978","type":"switch","z":"bbb294ed.072628","name":"","property":"payload.availability","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"str"},{"t":"eq","v":"false","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1130,"y":1760,"wires":[["438e09c2.d79cb8"],["74605d9.1feb5a4"]]},{"id":"74605d9.1feb5a4","type":"function","z":"bbb294ed.072628","name":"Error message","func":"msg.payload= \"We are sorry! There is a sudden unavailability\"\nreturn msg;","outputs":1,"noerr":0,"x":1320,"y":1820,"wires":[["35abd270.e7006e"]]},{"id":"438e09c2.d79cb8","type":"function","z":"bbb294ed.072628","name":"Flight choice","func":"\nvar search= [\n    { resultID: 234, Flight: 'ATH3242', price: 456 ,duration: 7, stops:1, airline:\"Turkish Airline\"},\n    { resultID: 478, Flight: 'ATH4572', price: 679 ,duration: 15,stops:2, airline:\"Lufthansa\"},\n    { resultID: 489, Flight: 'ATH6972', price: 899 ,duration: 6,stops:0, airline:\"Ryanair\"},\n    { resultID: 839, Flight: 'ATH6523', price: 1456,duration: 19,stops:3, airline:\"Turkish Airline\"},\n    { resultID: 122, Flight: 'ATH4527', price: 567 ,duration: 5,stops:0, airline:\"Emirates\"}\n    ];\n    \nk=msg.payload.result.resultID;\nfor(i=0;i<5;i++)\n{\n    if(k == search[i].resultID){\n        msg.payload = search[i];\n        return msg;\n    }\n}\n\n","outputs":1,"noerr":0,"x":1310,"y":1700,"wires":[["361f72f8.4a517e"]]},{"id":"35abd270.e7006e","type":"function","z":"bbb294ed.072628","name":"Response","func":"msg.headers = {\n};\nmsg.statusCode = 404;\nreturn msg;","outputs":1,"noerr":0,"x":1520,"y":1820,"wires":[["f7c09836.b9dff8","a8e08845.73ae08"]]},{"id":"f7c09836.b9dff8","type":"http response","z":"bbb294ed.072628","name":"http (404)","statusCode":"","headers":{},"x":1700,"y":1820,"wires":[]},{"id":"a8e08845.73ae08","type":"debug","z":"bbb294ed.072628","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1690,"y":1900,"wires":[]},{"id":"96ad9729.7e8b78","type":"switch","z":"bbb294ed.072628","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"str"},{"t":"eq","v":"false","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1410,"y":2120,"wires":[["6bc6d5b1.2eae8c"],["720a338a.8779fc"]]},{"id":"f9de5d58.bd03a","type":"http response","z":"bbb294ed.072628","name":"http (404)","statusCode":"","headers":{},"x":1980,"y":2180,"wires":[]},{"id":"778f9520.4e6ffc","type":"function","z":"bbb294ed.072628","name":"Response","func":"msg.headers = {\n};\nmsg.statusCode = 404;\nreturn msg;","outputs":1,"noerr":0,"x":1800,"y":2180,"wires":[["f9de5d58.bd03a","4ad9ef89.c5e8"]]},{"id":"4ad9ef89.c5e8","type":"debug","z":"bbb294ed.072628","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1990,"y":2260,"wires":[]},{"id":"6bc6d5b1.2eae8c","type":"function","z":"bbb294ed.072628","name":"Budget Search ","func":"msg.payload=[];\nvar search= [\n    { resultID: 236, Flight: 'ATH3242', price: 45 ,duration: 7, stops:1, airline:\"Turkish Airline\"},\n    { resultID: 765, Flight: 'ATH4572', price: 78 ,duration: 15,stops:2, airline:\"Lufthansa\"},\n    { resultID: 687, Flight: 'ATH6972', price: 500 ,duration: 6,stops:0, airline:\"Ryanair\"},\n    { resultID: 68, Flight: 'ATH6523', price: 100 ,duration: 19,stops:3, airline:\"Turkish Airline\"},\n    { resultID: 98, Flight: 'ATH4527', price: 345 ,duration: 5,stops:0, airline:\"Emirates\"}\n    ];\n    \n    for(i=0;i<5;i++)\n        {\n            msg.payload[i] = search[i];\n        }\nreturn msg;","outputs":1,"noerr":0,"x":1600,"y":2060,"wires":[["78a64db0.77b284"]]},{"id":"720a338a.8779fc","type":"function","z":"bbb294ed.072628","name":"Error message","func":"msg.payload= \"We are sorry! There is not flight within this budget\"\nreturn msg;","outputs":1,"noerr":0,"x":1600,"y":2180,"wires":[["778f9520.4e6ffc"]]},{"id":"3068a6e0.a76b7a","type":"function","z":"bbb294ed.072628","name":"Connect with Supplier","func":"var supplier = {\n    name: \"Corona\", supplierID: \"1456\", evaluation: 4.5 , numberOfEvaluation: 74 , supplierURL:\"www.corona.com\"\n}\n\nk=msg.payload.result.supplierID;\n\nif ( k === supplier.supplierID)\n{\n   msg.payload = supplier.supplierURL\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1300,"y":2700,"wires":[["d2209c7.8c1dc6"]]},{"id":"56a2c324.c3dabc","type":"switch","z":"bbb294ed.072628","name":"","property":"payload.availability","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"str"},{"t":"eq","v":"false","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1090,"y":2760,"wires":[["3068a6e0.a76b7a"],["19b8c176.6ffa7f"]]},{"id":"9cfcf5e2.8e9918","type":"http response","z":"bbb294ed.072628","name":"http (503)","statusCode":"","headers":{},"x":1660,"y":2820,"wires":[]},{"id":"98370b1a.18be58","type":"function","z":"bbb294ed.072628","name":"Response","func":"msg.headers = {\n};\nmsg.statusCode = 503;\nreturn msg;","outputs":1,"noerr":0,"x":1480,"y":2820,"wires":[["9cfcf5e2.8e9918","3b4b427f.c6323e"]]},{"id":"3b4b427f.c6323e","type":"debug","z":"bbb294ed.072628","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1670,"y":2900,"wires":[]},{"id":"19b8c176.6ffa7f","type":"function","z":"bbb294ed.072628","name":"Error message","func":"msg.payload= \"Error the server is currently unavailable\"\nreturn msg;","outputs":1,"noerr":0,"x":1280,"y":2820,"wires":[["98370b1a.18be58"]]},{"id":"c8ca273b.be2998","type":"function","z":"bbb294ed.072628","name":"Show Evaluation","func":"var supplier = {\n    name: \"Corona\", supplierID: \"1456\", evaluation: 4.5 , numberOfEvaluation: 74 , supplierURL:\"corona.com\"\n}\n\nk=msg.payload.result.supplierID;\n\nif ( k === supplier.supplierID)\n{\n   msg.topic = \"The evaluation of supplier \" + supplier.name + \" is: \" + supplier.evaluation;\n   msg.payload = supplier.evaluation;\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1310,"y":3100,"wires":[["3c28734d.6c4e3c"]]},{"id":"3c28734d.6c4e3c","type":"function","z":"bbb294ed.072628","name":"Response","func":"msg.headers = {\n};\nmsg.statusCode = 200;\nreturn msg;","outputs":1,"noerr":0,"x":1520,"y":3100,"wires":[["baa215f2.3f2dc8","b9c28e7e.d794c"]]},{"id":"baa215f2.3f2dc8","type":"http response","z":"bbb294ed.072628","name":"http (200)","statusCode":"","headers":{},"x":1700,"y":3100,"wires":[]},{"id":"b9c28e7e.d794c","type":"debug","z":"bbb294ed.072628","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1710,"y":3020,"wires":[]},{"id":"ad645df9.fb0d","type":"switch","z":"bbb294ed.072628","name":"","property":"payload.availability","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"str"},{"t":"eq","v":"false","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1110,"y":3160,"wires":[["c8ca273b.be2998"],["b01194c7.7b96d8"]]},{"id":"961ab5a6.81f798","type":"http response","z":"bbb294ed.072628","name":"http (404)","statusCode":"","headers":{},"x":1680,"y":3220,"wires":[]},{"id":"e76ce3b8.3cc01","type":"function","z":"bbb294ed.072628","name":"Response","func":"msg.headers = {\n};\nmsg.statusCode = 404;\nreturn msg;","outputs":1,"noerr":0,"x":1500,"y":3220,"wires":[["961ab5a6.81f798","34e8ca8c.085f56"]]},{"id":"34e8ca8c.085f56","type":"debug","z":"bbb294ed.072628","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1690,"y":3300,"wires":[]},{"id":"b01194c7.7b96d8","type":"function","z":"bbb294ed.072628","name":"Error message","func":"msg.payload= \"Evaluation does not exist\"\nreturn msg;","outputs":1,"noerr":0,"x":1300,"y":3220,"wires":[["e76ce3b8.3cc01"]]},{"id":"9e9ef756.1c3fc8","type":"debug","z":"6870a66e.c71bf8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":610,"y":760,"wires":[]}]